/* 한글 폰트와 영문 폰트를 다르게 하는데 만약 구글 폰트같은 웹폰트에서 가져올 경우 */
/* @import로 웹 폰트를 가져온 후, font-family에 두 폰트를 적용하면 된다. */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Ubuntu', 'Gowun Batang';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  background: #f9f9f9;
}

::-webkit-scrollbar {
  display: none;
}

html {
  margin: 0;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

* {
  box-sizing: inherit;
}

p {
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3 {
  margin: 0;
}

button {
  font-family: inherit;
  border: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
